# Dependency directories
node_modules/

# Build files
dist/
build/
out/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment-specific files
.env

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage
coverage/

# Server-side JavaScript project specific
*.pid
*.
